.spacer {
  width: 100%;
}
.spacer--200 {
  height: var(--spacer-200);
}
.spacer--300 {
  height: var(--spacer-300);
}
.spacer--500 {
  height: var(--spacer-500);
}
.spacer--600 {
  height: var(--spacer-600);
}

@media only screen and (max-width: var(--breakpoint-tablet)) {
  .spacer--200 {
    height: var(--spacer-200-md);
  }
  .spacer--300 {
    height: var(--spacer-300-md);
  }
  .spacer--500 {
    height: var(--spacer-500-md);
  }
  .spacer--600 {
    height: var(--spacer-600-md);
  }
}

@media only screen and (max-width: var(--breakpoint-mobile-md)) {
  .spacer--200 {
    height: var(--spacer-200-sm);
  }
  .spacer--300 {
    height: var(--spacer-300-sm);
  }
  .spacer--500 {
    height: var(--spacer-500-sm);
  }
  .spacer--600 {
    height: var(--spacer-600-sm);
  }
}
