/**
 * Colours
 */

$white: #fff
$black: #000316

$beige: #F1E8D9

$blue-100: #B9D6F3
$blue-200: #A1C9F1

$pink-100: #F8DAE9
$pink-200: #F4C2D7
$pink-300: #EFB0C9

/**
 * Fonts
 */

$font-serif-1: 'Lora', serif
$font-serif-2: 'Great Vibes', serif
$font-sans-serif: 'Open Sans', sans-serif

$font-size-100: 10px
$font-size-200: 12px
$font-size-300: 24px
$font-size-400: 36px
$font-size-500: 58px
$font-size-600: 68px