/**
 * Colours
 */

$white: #fff
$black: #000316

$beige: #F1E8D9

$blue-100: #B9D6F3
$blue-200: #A1C9F1

$pink-100: #F8DAE9
$pink-200: #F4C2D7
$pink-300: #EFB0C9
$pink-400: #E1DAF8

/**
 * Gradients
 */

$gradient-blue-pink: linear-gradient(180deg, $blue-100 0%, $pink-400 100%)
$gradient-pink-blue: linear-gradient(0, $blue-100 0%, $pink-400 100%)

/**
 * Fonts
 */

$font-serif-1: 'Lora', serif
$font-serif-2: 'Great Vibes', serif
$font-sans-serif: 'Open Sans', sans-serif

$font-size-100: 10px
$font-size-200: 12px
$font-size-300: 24px
$font-size-350: 30px
$font-size-400: 36px
$font-size-500: 58px
$font-size-600: 68px
$font-size-700: 300px

$font-size-100-md: 10px
$font-size-200-md: 12px
$font-size-300-md: 20px
$font-size-350-md: 24px
$font-size-400-md: 30px
$font-size-500-md: 46px
$font-size-600-md: 58px
$font-size-700-md: 200px

$font-size-100-sm: 10px
$font-size-200-sm: 12px
$font-size-300-sm: 14px
$font-size-350-sm: 20px
$font-size-400-sm: 24px
$font-size-500-sm: 36px
$font-size-600-sm: 42px
$font-size-700-sm: 150px

$font-size-100-xl: 10px
$font-size-200-xl: 12px
$font-size-300-xl: 14px
$font-size-350-xl: 28px
$font-size-400-xl: 22px
$font-size-500-xl: 32px
$font-size-600-xl: 38px
$font-size-700-xl: 90px

/**
 * Nav
 */

$nav-height: 80px

/**
 * Container
 */

$container-desktop: 950px
$container-desktop-mobile: 85%

$container-message: 800px
$container-message-tablet: 70%

$card-padding: 70px
$card-padding-tablet: 50px

/**
 * Transition
 */

$transition-100: .2s

/**
 * Margin
 */

$margin-100: 10px
$margin-300: 40px

/**
 * Spacer
 */

$spacer-200: 60px
$spacer-300: 80px
$spacer-500: 160px
$spacer-600: 200px

$spacer-200-md: 30px
$spacer-300-md: 55px
$spacer-500-md: 80px
$spacer-600-md: 120px

$spacer-200-sm: 15px
$spacer-300-sm: 20px
$spacer-500-sm: 40px
$spacer-600-sm: 80px

/*
 * Media Queries
 */

$breakpoint-tablet: 1200px
$breakpoint-mobile: 900px
$breakpoint-mobile-md: 767px
$breakpoint-mobile-sml: 584px