.popup {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color-pink-400);
  z-index: 100;
  justify-content: center;
  align-items: center;
}
.popup__content {
  width: var(--container-desktop);
  background: var(--color-white-background);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  animation: popupOpenClose 0.3s;
}
@keyframes popupOpenClose {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
