.content-card {
  position: relative;
  z-index: 5;
  width: calc(var(--container-desktop) + (var(--card-padding) * 2));
  margin: 0 auto;
  background: var(--color-white-background);
  padding-top: var(--card-padding);
  padding-bottom: var(--card-padding);
  position: relative;
}
@media only screen and (max-width: var(--breakpoint-tablet)) {
  .content-card {
    width: calc(var(--container-desktop-mobile) + (10px * 2));
  }
}
