.content-card {
  position: relative;
  z-index: 5;
  width: calc(var(--container-desktop) + (var(--card-padding) * 2));
  margin: 0 auto;
  background: var(--color-white-background);
  padding-top: var(--card-padding);
  padding-bottom: var(--card-padding);
  position: relative;
}
.content-card__title {
  transform: translateY(-50%);
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;

  width: 100%;

  text-align: center;
  /* text-shadow: 0 1px 2px rgba(black, .08) */
}

@media only screen and (max-width: var(--breakpoint-tablet)) {
  .content-card {
    width: calc(var(--container-desktop-mobile) + (10px * 2));
  }
}
