.section
  padding: 2em 1em

.container
  margin: 0 auto
  width: $container-desktop

.content-card
  width: calc(#{$container-desktop} + 200px)
  margin: 0 auto
  background: $white

.content-top
  background: $gradient-blue-pink

.content-bottom
  background: $gradient-pink-blue

.m-none
  margin: 0

.m-y-sm
  margin-top: 10px
  margin-bottom: 10px

