.section
  padding: 2em 1em

.container
  margin: 0 auto
  width: $container-desktop

.container-message
  margin: 0 auto
  width: $container-message

/**
  * Content Card
  */

.content-card-title-container
  transform: translateY(50%)
  position: relative
  z-index: 10

  .content-card-title
    text-align: center
    margin: 0
    width: 100%

.content-card
  position: relative
  z-index: 5

  width: calc(#{$container-desktop} + (#{$card-padding} * 2))
  margin: 0 auto
  background: $white
  padding-top: $card-padding
  padding-bottom: $card-padding

  position: relative

.content-top
  background: $gradient-blue-pink

.content-bottom
  background: $gradient-pink-blue

/**
  * Margin
  */

.m-none
  margin: 0

.m-y-sm
  margin-top: 10px
  margin-bottom: 10px

.m-r-300
  margin-right: $margin-300

.m-l-300
  margin-left: $margin-300

/**
  * Spacer
  */

.spacer-600
  width: 100%
  height: $spacer-600

.spacer-500
  width: 100%
  height: $spacer-500

.spacer-300
  width: 100%
  height: $spacer-300