.font-serif-1
  font-family: $font-serif-1
  maring: 0

.font-serif-2
  font-family: $font-serif-2
  maring: 0

.font-sans-serif
  font-family: $font-sans-serif
  maring: 0
  letter-spacing: 2.08px
  text-transform: uppercase

body, h1, h2, h3, h4, h5, p
  font-family: $font-sans-serif

.font-light
  colour: $white