.font-serif-1
  font-family: $font-serif-1
  maring: 0

.font-serif-2
  font-family: $font-serif-2
  maring: 0

.font-sans-serif
  font-family: $font-sans-serif
  maring: 0
  letter-spacing: 2.08px
  text-transform: uppercase

.font-size-100
  font-size: $font-size-100

.font-size-200
  font-size: $font-size-200

.font-size-300
  font-size: $font-size-300

.font-size-350
  font-size: $font-size-350

.font-size-400
  font-size: $font-size-400

.font-size-500
  font-size: $font-size-500

.font-size-600
  font-size: $font-size-600

.font-size-700
  font-size: $font-size-700

@media only screen and (max-width: $breakpoint-tablet)
  .font-size-100
  font-size: $font-size-100-md

  .font-size-200
    font-size: $font-size-200-md

  .font-size-300
    font-size: $font-size-300-md

  .font-size-350
    font-size: $font-size-350-md

  .font-size-400
    font-size: $font-size-400-md

  .font-size-500
    font-size: $font-size-500-md

  .font-size-600
    font-size: $font-size-600-md

  .font-size-700
    font-size: $font-size-700-md

@media only screen and (max-width: $breakpoint-mobile-md)
  .font-size-100
  font-size: $font-size-100-sm

  .font-size-200
    font-size: $font-size-200-sm

  .font-size-300
    font-size: $font-size-300-sm

  .font-size-350
    font-size: $font-size-350-sm

  .font-size-400
    font-size: $font-size-400-sm

  .font-size-500
    font-size: $font-size-500-sm

  .font-size-600
    font-size: $font-size-600-sm

  .font-size-700
    font-size: $font-size-700-sm

@media only screen and (max-width: $breakpoint-mobile-sml)
  .font-size-100
  font-size: $font-size-100-xl

  .font-size-200
    font-size: $font-size-200-xl

  .font-size-300
    font-size: $font-size-300-xl

  .font-size-350
    font-size: $font-size-350-xl

  .font-size-400
    font-size: $font-size-400-xl

  .font-size-500
    font-size: $font-size-500-xl

  .font-size-600
    font-size: $font-size-600-xl

  .font-size-700
    font-size: $font-size-700-xl


body, h1, h2, h3, h4, h5, p
  font-family: $font-sans-serif

body, p
  font-size: $font-size-100

.font-light
  color: $white

.font-dark
  color: $black

.font-pink-200
  color: $pink-200

.font-pink-300
  color: $pink-300

.font-shadow
  text-shadow: 0 2px 4px rgba(0,0,0,.16)

.font-center
  text-align: center

.font-transform-none
  text-transform: none