.nav {
  background: #fff;
  width: 100%;
}

.nav .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
}

.nav .nav-content .logo {
  font-size: var(--font-size-400);
  margin: 0;
}

.nav .nav-content .logo .nav-link {
  text-decoration: none;
}

.nav .nav-content .nav-items {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.nav .nav-content .nav-items .nav-item {
  list-style-type: none;
  margin-right: 40px;
}

.nav .nav-content .nav-items .nav-item .nav-link {
  text-decoration: none;
}

.nav .nav-content .nav-items .nav-item .nav-link.active {
  font-weight: bold;
}
